*.css linguist-vendored=true
*.css linguist-detectable=false
*.js linguist-vendored=true
*.js linguist-detectable=false
*.jsx linguist-vendored=true
*.jsx linguist-detectable=false
Frontend/* linguist-vendored=true
